/* For mobile phones: */
body {
    margin: 0 2%;
}   
.anhbanner {
    display: cover;
    margin: 0 5%;
}

.anhbanner img {
    width: 100%;


}

.text1 h1{
    font-size: 17px;
    position: absolute;
    margin-top: -130px;
    margin-left: 52px;
    color: rgb(202, 225, 233);
}
.text1 p{
    font-size: 10px;
    position: absolute;
    margin-top: -105px;
    margin-left: 52px;
    color: rgb(202, 225, 233);
}


.text2 {
    margin-left: 5%;
    margin-top: 1%;

}

/*==phananh==*/
.row img {
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
}

.anh3 img {
    height: 569px;
    width: 100%;
}

footer {
    margin: 0 5%;
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
.text1 h1{
   font-size: 30px !important;
   margin-left: 170px !important;
}
.text1 p{
    margin-top: -250px !important;
    font-size: 20px !important;
    margin-left: 140px !important;
}
}
@media only screen and (min-width: 987px) {
    /* For desktop: */
    .text1 h1{
        margin-top: -750px !important;
        font-size: 60px !important;
        margin-left: 500px !important;
     }
     .text1 p{
        margin-top: -670px !important;
        font-size: 30px !important;
        margin-left: 550px !important;
    }
}

